

html, body, div, span,  h1, h2, h3, h4, h5, h6, p, ul  { border: 0;  margin: 0; outline: 0; padding: 0; }
body { line-height: 1; }
ol, ul { list-style: none; }


a:link, a:visited {

text-decoration: none;
}

html, body { color: #242626; }
html {
  background: #D5DADD url('pix/bg-html.jpg') top left repeat-x;
  height: 100%;
  margin-bottom: 1px;
  overflow-y: scroll;
}
body {
  
 
  font: 100.1%/1.5 "Helvetica Neue", Arial, "Lucida Grande", "Lucida Sans Unicode", "Microsoft YaHei", sans-serif;
  font-smooth: always;
  text-align: center;
}


#header,
#main,
#footer
{
  background-color: #fff;
  text-align: left;
  margin: 0 auto 3px;
  width: 985px;
}

.navbar {


  text-align: left;
  margin: 0 auto;
  padding: 0 ;
  width: 985px;
  height: 30px;

}

#header,
#footer { font-size: 0.7em; }


#header { height: 120px; margin-top: 10px; position: relative; }

#container { 
margin: 0px 5px 0px 5px;
padding: 5px 5px 5px 10px;

 }

#content {
  border-right: 3px solid #D5DADD;
  margin: 0 350px 0 0;
  overflow: hidden;
  padding: 19px 0 0;
}

#footer { padding: 10px 28px; width: 929px; }


#topmenu {
  display: block;
  position: absolute;
  right: 15px;
  top: 95px;
  font-size: 1.2em;
}


#topmenu li,
#topmenu a { display: block; float: left;
text-decoration: none;
 }
#topmenu a { background: transparent url('pix/navigation.png') right -200px no-repeat; padding: 0 7px 0 5px; }
#topmenu .last-item a { background: none; padding-right: 0; }

#main {

font-size: 1em;


}



#header-content div.logininfo {

position: absolute;
right: 10px;
top: 15px;
color: #382E1F;

}
#header div.logininfo a {

color: #382E1F;
}

#header form div {
position: absolute;
top: 40px;
right: 10px;

}

#header div.logo {
	
	 position: absolute;
	 top: 15px;
	 left: 15px;
	
}




div.sideblock div.header {

background-color: #F4F8F9;
  border-bottom: 1px solid #E6F0F2;
  border-top: 1px solid #E6F0F2;
  color: #3e5867;
  padding:  0.2em 0.3em;
  border: none;
}
div.sideblock div.title h2 {
  
  font-size: 13px;
 
 
}

div.sideblock div.content {
  padding: 0.4em 0.3em;
  
  border: none;  
  font-size: 0.9em;
  
  }  
  
 div.sideblock div.content ul li {
  padding: 0.4em 0; 
  
  }
  

div.navbar {
 
  background: #F3F6F8;
 
  border-style: none;
  font-size: 0.9em;
 
}


div.navbar div.navbutton form {

  
}
div.navbar div.navbutton {
 float: right;
}


  div.breadcrumb {
  font-size: 1em;
  padding-left: 0.3em;
}

div.langmenu  select {
	
	  margin: 0 10px;
	
}

h2.headingblock {
  border: none;
  font-size: 1.1em;
  color: #84B9BA;
}

div.generalbox {
   background-color: #F8F8F8;
   border: none;
   font-size: 1em;
}
div.coursebox {
   border: none;
    border-top: 1px  #C1E0E1 dotted;
	padding: 8px 0;  
   
   }
   
   div.coursebox div.name {
   font-size: 0.9em;
   
   }
   
   div.coursebox div.name a {
   text-decoration: none;
   
   }
   div.coursebox div.summary {
   font-size: 0.9em;
   
   }


#footer div.logininfo {
	
	
	 margin-left: 40%;
	 
	 width: 30%;
	 padding-top: 5px;	
}

#footer p.helplink {
	 float: right;
	 padding-right: 10px;
}

#footer div.sitelink {



}