body{
    font-size : 12px;
    font-family : "Verdana";
    padding : 0pt;
    margin:0pt;
}
h1.present{
    font-size : 16px;
    background-color:#9999cc;
    color:white;
    padding : 5pt;
    margin:0pt;
}
p.present{
    font-size : 14px;
    background-color:#cccccc;
    color:black;
    padding : 0pt;
    margin:0pt;
}
p.message{
    font-size : 14px;
    
    color:black;
    padding : 0pt;
    margin:0pt;
}
object{
  border-width:1px;
  border-style:inset;
  width:800px;
  height:400px;
  overflow:auto; 
}
