#bot_pesquisa_domus{
	background-image:url(../../img/Search.png);
	background-color:#DEDEDE;
	width:20px; 
	cursor:pointer; 
	height:23px; 
	border:0; 
	background-repeat: no-repeat;
	
}

/*BUG IE6 IE7*/
.nav li a, .nav li a:link, .nav li a:active, .nav li a:visited {
	*zoom: 1;
    *display:inline;	
}
#nav {
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
display:inline-block;
margin: 0;
padding: 0;
width: 580px;
top: 137px;
right: 20px;
z-index: 100;
position: absolute;
font-size: 13px;
font-weight: bold;
}
#nav li {
margin: 0;
padding: 0;
float:left;
position:relative;
list-style:none;
background-color: #DEDEDE;
font-size: 13px;
font-weight: bold;
color: #409DB5;
width: 100px;
text-decoration: none;
border-style: solid;
border-color: #ffffff #808080 #c0c0c0 #ffffff;
border-width: 1px 2px 2px 1px;
}
#nav a {
color: #409DB5;
display: table-cell;
vertical-align: middle;
text-align: center;
text-decoration: none;
height: 32px;
width: 100px;
background: #DEDEDE;



}/* selected menu element */
#nav .current a, #nav li:hover > a {
background:#7788aa;
color:#FFF;

border-top:1px solid #409DB5;
}/* sublevels */
#nav ul li:hover a, #nav li:hover li a {
background:none;
border:none;
color:#409DB5;
}
#nav ul li a:hover {
  color: #ffffff;
    background-color: #409DB5;
}

#nav li:hover > ul {
opacity:1;
visibility:visible;
}
#nav ul {
opacity:0;
visibility:hidden;
padding:0;
width:100px;
position:absolute;
border:1px solid #DEDEDE;

}
#nav ul li {
float:none;
margin:0;
}
#nav ul a {
font-weight:bold;

}
#nav ul ul {
left:103px;
top:0px;
}
#nav li {
		background:none repeat scroll 0 0 #DEDEDE;
}
#nav li li {
	
	background: url("http://domus.pucpr.br/blocks/menu_curso/img/fo_arrow.gif") no-repeat scroll right 85% rgb(222, 222, 222); cursor: pointer;
	
}

#nav li li li {
	
	background:none repeat scroll 0 0 #DEDEDE;
}